body {
  background: ivory;
  justify-content: center;
}
.collapse {
  color: red;
}

.navmenu {
  align-items: center;
  background-color: white;
  color: dodgerblue;
  text-align: center;
  border-bottom: 2px solid royalblue;
}

.navitem {
  font-family: Raleway;
  font-size: 25px;
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  justify-content: space-around;
  text-decoration: none;
  margin: 25px 100px 25px 100px;
}

li {
  display: inline-flex;
  align-items: center;
}

.typewriter{
  color: royalblue;
  font-family: Raleway;
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
  animation-iteration-count: infinite;
}
.typewriter2{
  color: royalblue;
  font-family: Raleway;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type2 4s steps(120, end);
  animation-iteration-count: infinite;

}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}
