body {
  background: white;
  padding-top: 100px;
}


.navmenu {
  align-items: center;
  background-color: white;
  color: dodgerblue;
  text-align: center;
  border-bottom: 2px solid royalblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
a:active {
  color: red;
}

.navitem {
  font-family: Raleway;
  font-size: 20px;
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  justify-content: space-around;
  text-decoration: none;
  margin: 25px 100px 25px 100px;
}
.skills {
  text-align: center;
  font-size: 30px;
}


li {
  display: inline-flex;
  align-items: center;
}

span{
  animation: blink 1s infinite;
}

.typewriter{
  color: white;
  text-align: center;
  justify-content: center;
  font-family: Raleway;
  font-size: 90px;
  margin: 100px 0 0 200px;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  animation: type 4s ;
}

.typewrite{
  color: white;
  font-family: Raleway;
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  animation: type2 4s steps(120, end);
}

.jumbotron {
  background-image: url("../assets/devicons/imagery/bluebackground.jpg");
  text-align: center;
  height: 90vh;
  width: 100%;
}

section {
  min-height: 100vh;
  margin-top: 100px;
}

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel-indicators {
  margin-bottom: -50px;
}
.carousel-caption {
  margin-bottom: -200px;
}

.carousel-inner {
  overflow: visible;
}

.img-fluid {
  height: 500px;
}

.profile-photo {
  border-radius: 5px;
}

.techicon {
  padding: 15px;
  height: 100px;
}
.
  @keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}
