body {
  background: white;
  padding-top: 100px;
}


.navmenu {
  align-items: center;
  background-color: white;
  color: dodgerblue;
  text-align: center;
  border-bottom: 2px solid royalblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
a:active {
  color: red;
}

.navitem {
  font-family: Raleway;
  font-size: 20px;
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  justify-content: space-around;
  text-decoration: none;
  margin: 25px 100px 25px 100px;
}
.skills {
  text-align: center;
  font-size: 30px;
}

section {
  padding-top: 20vh;
  min-height: 100vh;
}



li {
  display: inline-flex;
  align-items: center;
}

span{
  animation: blink 1s infinite;
}

.typewriter{
  color: midnightblue;
  font-family: Raleway;
  font-size: 90px;
  margin-top: 100px;
  overflow: hidden;

}

.typewrite{
  color: midnightblue;
  font-family: Raleway;
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  animation: type2 4s steps(120, end);
}

.jumbotron {
  background-color: LIGHTSKYBLUE;
  text-align: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.techicon {
  display: inline-block;
  height: 100px;
  padding: 10px;
}

section {
  min-height: 100vh;
  margin-top: 100px;
}

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel-indicators {
  margin-bottom: -50px;
}

.carousel-inner {
  overflow: visible;
}
.slideshow {
  margin-bottom: 100px;
}

.img-fluid {
  height: 500px;
}

.profile-photo {
  border-radius: 25px;
}

.contact {
  text-align: center;
}
.svg-inline--fa.fa-w-14 {
  text-align: center;
  font-size: 40px;
}
.btn {
  margin: 50px;
}
#portfolio {
  background-color: LIGHTSKYBLUE;
}
